<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title>Flask Templates Demo</title>
    {% endif %}    
    <link rel = "icon" href ="{{ url_for('static', filename='images/logo2.png') }}" type = "image/x-icon">  
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div>
        {% block content %}

        {% endblock %}
    </div>

    <div class="container-fluid text-center text-light" style="position: fixed;">
        <div class="row">
            {% if current_user.is_anonymous %}
            <nav class="navbar navbar-expand-lg fixed-top bg-transparent navbar-light text-light">
                <div class="container">
                  <a class="navbar-brand" href="#"
                    ><img
                      id="MDB-logo"
                      src="{{ url_for('static', filename='images/logo2.png') }}"
                      alt="MDB Logo"
                      draggable="false"
                      height="100px"
                      width="75px"
                  /></a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto align-items-center">
                       
                      <li class="nav-item ms-3">
                        <a class="btn btn-success btn-rounded text-light" href="/login">Sign in</a>
                      </li>
                      <li class="nav-item ms-3">
                        <a class="btn btn-success btn-rounded text-light" href="/register">Sign up</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            {% else %}
                    <nav class="navbar navbar-expand-lg fixed-top bg-transparent navbar-light text-light">
                <div class="container">
                  <a class="navbar-brand" href=" {{ url_for('index') }} "
                    ><img
                      id="MDB-logo"
                      src="{{ url_for('static', filename='images/logo2.png') }}"
                      alt="MDB Logo"
                      draggable="false"
                      height="100px"
                      width="75px"
                  /></a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto align-items-center">
                      <li class="nav-item">
                        <a class="nav-link mx-2 text-light" data-bs-toggle="modal" data-bs-placement="top" data-bs-target="#admin-form" title="Add New Admin" id="record-exam-button">Post Results</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mx-2 text-light" href="{{ url_for('profile', username=current_user.username) }}">Profile</a>
                      </li>
                      <li class="nav-item ms-3">
                        <a class="btn btn-danger btn-rounded text-light" href="{{ url_for('logout') }}">Log Out</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            {% endif %}
        </div>
    </div>
    <br>

    <body>
        {% for mesg in get_flashed_messages() %}
        <br>
        <div style="width: 80%; display: inline-block; color: rgb(255, 197, 197)" class="text-dark" id="flash_msg">
            <h1>{{ mesg }}</h1>
        </div>
        {% endfor %}
      </body>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    {{ moment.include_moment()}}
</body>

<style>
    body {
        background-color: rgb(33, 37, 41);
        text-align: center;
        color: white;
    }

    a{
        color: white;
        display: inline-block;
        text-decoration: none;
    }

    #record-exam-button:hover {
        color: rgb(10, 88, 202);
    }

    #flash_msg {
        transition: all 5s;
        opacity: 0;
    }
    
    tr:hover{
        background-color: rgb(92, 99, 106);
    } 
</style>

</html>