{% extends 'base.html' %}

{% block content %}
<br>

<div class="my_modal">
    <!-- Add a new admin -->

                                                    
    <div class="modal fade" id="admin-form" tabindex="-1" role="dialog" aria-labelledby="admin-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h3 class="font-weight-bolder text-primary text-gradient">Save New Exam Record</h3>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-4">Safely store a student's exam for easy and reliable reference later on.</p>
                <form role="form text-left" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-lg-6 mb-4">                                                
                            <div class="form-group position-relative">
                                {{ form.term.label }} <span class="text-danger">*</span> <br>
                                {{ form.term(class_='form-control') }}
                                {% for error in form.term.errors %}
                                    <span style="color: red;">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <div class="form-group position-relative">
                                {{ form.year_done.label }} <span class="text-danger">*</span> <br>
                                {{ form.year_done(class_='form-control') }}
                                {% for error in form.year_done.errors %}
                                    <span style="color: red;">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <div class="form-group position-relative">
                                {{ form.year_or_grade.label }} <span class="text-danger">*</span> <br>
                                {{ form.year_or_grade(class_='form-control') }}
                                {% for error in form.year_or_grade.errors %}
                                    <span style="color: red;">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <div class="form-group position-relative">
                                {{ form.subjects.label }} <span class="text-danger">*</span> <br>
                                {{ form.subjects(class_='form-control') }}
                                {% for error in form.subjects.errors %}
                                    <span style="color: red;">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-12 mb-4">
                            <div class="form-group position-relative">
                                {{ form.name.label }} <span class="text-danger">*</span> <br>
                                {{ form.name(class_='form-control') }}
                                {% for error in form.name.errors %}
                                    <span style="color: red;">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-12 mb-4">
                            <div class="form-group position-relative">
                                {{ form.score.label }} <span class="text-danger">*</span> <br>
                                {{ form.score(class_='form-control') }}
                                {% for error in form.score.errors %}
                                    <span style="color: red;">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- <div class="col-lg-12 mb-4 text-center">
                            <button class="col-md-12 bg-primary border border-primary rounded"><h1>{{ form.submit(class='bg-primary') }}</h1></button>
                        </div> -->
                        <div class="col-lg-12 mb-4 text-center">
                            {{ form.submit(class_='btn bg-primary btn-lg btn-rounded w-100 mt-4 mb-0') }}
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <!-- End: add admin -->
</div>

<br>

<div class="col-md-12 bg-light">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th style="font-size: 25px;"> Term </th>
                    <th style="font-size: 25px;"> Year done </th>
                    <th style="font-size: 25px;"> Subject </th>
                    <th style="font-size: 25px;"> Score </th>
                    <th style="font-size: 25px;"> Year or Grade </th>
                    <th style="font-size: 25px;"> Name </th>
                    <th style="font-size: 25px;"> TimeStamp </th>
                    <th style="font-size: 25px;"> Delete </th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                <tr>
                    <td style="font-size: 25px;"> {{ exam.term }} </td>
                    <td style="font-size: 25px;"> {{ exam.year_done }} </td>
                    <td style="font-size: 25px;"> {{ exam.subjects }} </td>
                    <td style="font-size: 25px;"> {{ exam.score }} </td>
                    <td style="font-size: 25px;"> {{ exam.year_or_grade }} </td>
                    <td style="font-size: 25px;"> {{ exam.name }} </td>
                    <td style="font-size: 25px;"> {{ moment(exam.timestamp).format('ll') }} </td>
                    <td style="font-size: 25px;"> <a href="{{ url_for('index_exam', id = exam.id) }}" class="text-danger"><img src="{{ url_for('static', filename='images/delete_forever_FILL0_wght400_GRAD0_opsz24.png') }}" width="30px" height="40px"></a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}