{% extends 'base.html' %}

{% block content %}
<section class="vh-100 bg-image"
    style="background-color: transparent">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card p-4" style="border-radius: 15px; background-color: transparent; box-shadow: rgba(246, 255, 0, 0.707) 0px 8px 24px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">{{ title }}</h2>

                <form role="form text-left" action="" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  <div class="row">
                      <div class="col-lg-12 mb-4">                                                
                          <div class="form-group position-relative p-4">
                              {{ form.username.label }} <span class="text-danger">*</span> <br>
                              {{ form.username(class_='form-control') }}
                              {% for error in form.username.errors %}
                                  <span style="color: red;">{{error}}</span>
                              {% endfor %}
                          </div>
                      </div>

                      <div class="col-lg-12 mb-4">
                          <div class="form-group position-relative p-4">
                              {{ form.password.label }} <span class="text-danger">*</span> <br>
                              {{ form.password(class_='form-control') }}
                              {% for error in form.password.errors %}
                                  <span style="color: red;">{{error}}</span>
                              {% endfor %}
                          </div>
                      </div>
  
                    <div class="col-lg-12 mb-4 p-4">
                      {{ form.submit(class_='btn bg-success btn-lg btn-rounded w-100 mt-4 mb-0') }}
                  </div>

                  <p class="text-center text-muted ">Forgot your password? <a href="{{ url_for('request_password_reset') }}"
                    class="fw-bold text-muted"><u>Click here</u></a></p>    
  
                  <p class="text-center text-muted mt-5">Dont have a account already? <a href="/register"
                      class="fw-bold text-muted"><u>Register here</u></a></p>
                  
  
                </form>
  
              </div>
            </div>
          </div>
        </div>

{% endblock %}